.section__2__wrap__catalog__big {
  margin-bottom: 104px;

  h3 {
    margin-top: 56px;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #FFFFFF;
  }
}

.wrap__catalog__big {
  position: relative;
  display: grid;
  grid-template-columns: 296px 1fr;
  grid-gap: 24px;
  margin-top: 32px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.catalog__big__menu {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (max-width: 767px) {
    display: none;
  }

  li {
    border: 1px solid #3B4C64;
    height: 97px;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  a {
    text-decoration: none;
    display: block;
    padding: 20px 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #FFFFFF;
  }

  span {
    color: $firm;
  }
}

.section__2__catalog_big {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: center;

  @media screen and (max-width: 374px) {
    grid-template-columns: repeat(auto-fill, 100%);
  }

  li {
    max-width: 320px;
    height: 426px;
    border: 1px solid #3B4C64;
    padding-top: 32px;
    padding-bottom: 28px;
    transition: 0.8s;

    //@media screen and (max-width: 374px) {
    //  grid-template-columns: repeat(auto-fill, 100%);
    //}

    &:hover {
      transition: 0.8s;
      background: $firm;

      p {
        color: #ffffff;
      }

      button {
        background: $dark__firm;
      }
    }

    a {
      display: block;
      width: 256px;
      margin-left: 32px;
      text-decoration: none;

      img {
        margin-bottom: 24px;
      }
    }

    span {
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      color: #FFFFFF;
      margin-top: 24px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: #7A8396;
      margin-top: 8px;
    }

    .cost__price {
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      color: $firm;
      margin-top: 16px;
    }

    button {
      color: #ffffff;
      height: 34px;
      background: $firm;
      padding: 0 18px;
      border: none;
      margin-top: 24px;
      margin-left: 32px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }
}

.wrap__button__catalog__big{

  position: relative;
  width: 100%;
  height: 48px;
  border: 1px solid #3B4C64;
  padding: 10px 12px;
  display: none;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: flex;
  }


  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
  }
}

#button__menu{
  display: none;
}



.button__menuS2{
  display: none;
  width: 48px;
  height: 46px;
  border-left: 1px solid #3B4C64;

  position: absolute;
  top: 0;
  right: 0;

  background: center/18px url("../img/Arrow Left.svg") no-repeat;
  z-index: 99999;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

#button__menu{
   &:checked ~ .button__menuS2{
     background: center/18px url("../img/Arrow Left (1).svg") no-repeat;

     z-index: 99999;
   }

  &:checked ~ .catalog__big__menu{
    display: flex;
  }
 }