.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.section__1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.section__1__content_1 {
  width: 524px;
  color: #ffffff;

  @media screen and (max-width: 1300px) {
    width: 500px;
  }
  @media screen and (max-width: 1280px) {
    width: 444px;
  }
  @media screen and (max-width: 1159px) {
    width: 100%;
  }

  h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    padding-top: 40px;
    max-width: 450px;

    @media screen and (max-width: 1159px) {
      width: 100%;
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding-top: 16px;
  }

  .section__1__buttons {
    padding-top: 40px;
    padding-bottom: 56px;

    button {
      height: 46px;
      outline: none;
      background-color: transparent;
      color: $firm;
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      padding: 0 24px;
      border: 1.5px solid $firm;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        background-color: $firm;
        color: #ffffff;
      }

      &:active {
        opacity: 0.8;
      }

      &:first-child {
        margin-right: 16px;
      }
    }
  }
}

.section__1__content_2 {
  margin-left: 85px;
  margin-top: 49px;

  @media screen and (max-width: 1224px) {
    margin-left: 45px;
  }
  @media screen and (max-width: 1185px) {
    margin-left: 20px;
  }
}

.section__2 {
  display: flex;
  flex-direction: column;
  padding-top: 112px;

  h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
  }

  .section__2__catalog {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center;

    li {
      max-width: 320px;
      height: 426px;
      border: 1px solid #3B4C64;
      padding-top: 32px;
      padding-bottom: 28px;
      transition: 0.8s;

      &:hover {
        transition: 0.8s;
        background: $firm;

        p {
          color: #ffffff;
        }

        button {
          background: $dark__firm;
        }
      }

      a {
        display: block;
        width: 256px;
        margin-left: 32px;
        text-decoration: none;

        img {
          margin-bottom: 24px;
        }
      }

      span {
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: #FFFFFF;
        margin-top: 24px;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #7A8396;
        margin-top: 8px;
      }

      .cost__price {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: $firm;
        margin-top: 16px;
      }

      button {
        color: #ffffff;
        height: 34px;
        background: $firm;
        padding: 0 18px;
        border: none;
        margin-top: 24px;
        margin-left: 32px;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.6;
        }
      }
    }
  }
}

.section__2__btn__catalog {
  margin-top: 32px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    background: $firm;
    border-radius: 2px;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    border: none;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    img {
      margin-right: 14px;
    }
  }
}

.section__3 {
  padding-top: 120px;
  display: flex;
  flex-direction: column;

  h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 40px;
  }
}

.section__3__wrap__bg {
  display: flex;
  max-width: 1280px;
  //height: 898px;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;

  .bg_s3 {
    position: absolute;
    width: 90%;
    height: 80%;
    left: 5%;
    top: 10%;
    background: #FFFFFF;
    mix-blend-mode: overlay;
    filter: blur(600px);
  }
}

.wrap__description__goods {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.line__description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  p {
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
  }

  div {
    width: 50%;
    padding: 48px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    &:first-child {
      background: $bg-header;
    }

    @media screen and (max-width: 1023px) {
      width: 100%;
    }
  }

  img{
    @media screen and (max-width: 1023px) {
      width: 100%;
    }
  }
}

.link__product__s3 {
  a {
    position: relative;
    display: block;
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    padding: 0 18px;
    color: #ffffff;
    background: $firm;
    border: none;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.line__description__1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;

  p {
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
  }

  div {
    width: 516px;
    padding: 48px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    @media screen and (max-width: 1300px) {
      width: 501px;
    }

    @media screen and (max-width: 1280px) {
      width: 50%;
    }

    @media screen and (max-width: 1023px) {
      width: 100%;
    }

    &:last-child {
      background: $bg-header;
    }
  }
}

.link__product__s31 {
  width: 764px !important;

  @media screen and (max-width: 1300px) {
    width: 749px !important;
  }

  @media screen and (max-width: 1280px) {
    width: 50% !important;
  }

  @media screen and (max-width: 1023px) {
    width: 100% !important;
  }

  a {
    position: relative;
    display: block;
  }

  button {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    padding: 0 18px;
    color: #ffffff;
    background: $firm;
    border: none;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.section__4 {
  padding-top: 120px;
  display: flex;
  flex-direction: column;

  h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 40px;
  }
}

.link__info__s4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 426px);
  justify-content: center;

  li {
    width: 426px;
    height: 454px;
    border: 1px solid #3B4C64;
    padding-top: 40px;
    transition: 0.8s;
    cursor: pointer;

    &:hover {
      background: $firm;
      transition: 0.8s;

      p {
        color: #ffffff;
      }

      .img__s4__1 {
        background: center/contain url("../img/missile.svg") no-repeat;
        transition: 0.8s;
      }

      .img__s4__2 {
        background: center/contain url("../img/ok_w.svg") no-repeat;
        transition: 0.8s;
      }

      .img__s4__3 {
        background: center/contain url("../img/file_w.svg") no-repeat;
        transition: 0.8s;
      }

      .img__s4__4 {
        background: center/contain url("../img/certificate_w.svg") no-repeat;
        transition: 0.8s;
      }

      .img__s4__5 {
        background: center/contain url("../img/settings_w.svg") no-repeat;
        transition: 0.8s;
      }


    }

    a {
      display: block;
      text-decoration: none;

      .img__s4__1 {
        background: center/contain url("../img/missile_o.svg") no-repeat;
        transition: 0.8s;
      }

      .img__s4__2 {
        background: center/contain url("../img/ok.svg") no-repeat;
        transition: 0.8s;
      }

      .img__s4__3 {
        background: center/contain url("../img/file.svg") no-repeat;
        transition: 0.8s;
      }

      .img__s4__4 {
        background: center/contain url("../img/certificate.svg") no-repeat;
        transition: 0.8s;
      }

      .img__s4__5 {
        background: center/contain url("../img/settings.svg") no-repeat;
        transition: 0.8s;
      }

      div {
        margin-left: 40px;
        margin-bottom: 57px;
        width: 83px;
        height: 82px;
      }


      h4 {
        color: #ffffff;
        font-weight: 500;
        font-size: 22px;
        line-height: 120%;
        margin-left: 40px;
        margin-bottom: 16px;
      }

      p {
        color: #9EA5AF;
        font-weight: 400;
        font-size: 14px;
        line-height: 170%;
        margin-left: 40px;
        max-width: 342px;
      }
    }
  }
}

.section__5 {
  padding-top: 120px;
  display: flex;
  flex-direction: column;

  h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 40px;
  }
}

.section__5__news {
  padding-bottom: 32px !important;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: center;

  li {
    max-width: 320px;
    height: 450px;
    border: 1px solid #3B4C64;
    padding-top: 32px;
    padding-bottom: 28px;
    transition: 0.8s;
  }

  a {
    display: block;
    text-decoration: none;
    margin-left: 32px;
    height: 338px;
  }

  h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: white;
    max-width: 254px;
    margin-top: 24px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7A8396;
    margin-top: 4px;
  }

  button {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    background: $firm;
    padding: 0 18px;
    height: 33px;
    border: none;
    margin-left: 32px;
    margin-top: 24px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.section__5__btn__news {
  button {
    width: 100%;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: $firm;
    outline: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-bottom: 120px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    img {
      margin-right: 12px;
    }
  }
}

.section__6 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 48px;

  h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
    padding-bottom: 33px;
  }
}

.section__6__wrap__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 848px;
  margin-bottom: 48px;

  form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    @media screen and (max-width: 1023px) {
      justify-content: space-between;
    }
  }

  button {
    padding: 0 24px;
    height: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    background: $firm;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 54px;
    float: left;
    cursor: pointer;

    img {
      margin-right: 12px;
    }
  }

}

.s6__input__decor {
  width: 416px;
  height: 62px;

  @media screen and (max-width: 1023px) {
    width: 48%;
  }

  background: rgba(157, 164, 175, 0.1);
  backdrop-filter: blur(40px);
  border-radius: 2px;
  padding: 19px 24px;
  margin-bottom: 24px;
  border: none;
  color: #9EA5AF;

  &::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 126%;
    color: #9EA5AF;
  }
}

#s6__input__email {
  margin-left: 12px;

  @media screen and (max-width: 1023px) {
    margin-left: 0;
  }

}

#s6__input__textArea {
  width: 848px;
  max-width: 848px;
  height: 124px;
  padding: 19px 24px;
  resize: none;
  background: rgba(157, 164, 175, 0.1);
  backdrop-filter: blur(40px);
  border-radius: 2px;
  margin-bottom: 24px;
  border: none;
  color: #9EA5AF;

  @media screen and (max-width: 1023px) {
    width: 100%;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 126%;
    color: #9EA5AF;
  }

}

.wrap__checkbox__s6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;

  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #9EA5AF;
    margin-left: 12px;

    span {
      color: $firm;
    }
  }


}

#s6__input__checkbox {
  display: none;

  &:checked + label {
    background: rgba(157, 164, 175, 0.1) center/ 70% url("../img/Checkmark.svg") no-repeat;
  }
}

.s6__input__checkbox__decor {
  width: 20px;
  height: 20px;
  background: rgba(157, 164, 175, 0.1);
  border-radius: 1.42857px;
  display: block;
}

.wrap__4 {
  background: $footer;
}

.footer__first__line {
  padding: 28px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  a {
    display: inline-block;
  }

  button {
    background: center no-repeat url(../img/Circle.svg), no-repeat 16px 16px url(../img/Line.svg);
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 12px;
    left: 375px;
    border: none;
    cursor: pointer;

    @media screen and (max-width: 1023px) {
      left: 324px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.wrap__form__6 {
  position: relative;
}

#search__footer {
  width: 416px;
  height: 49px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 10%);
  border: none;
  padding-left: 20px;
  padding-right: 40px;

  @media screen and (max-width: 1023px) {
    width: 365px;
  }

}

.footer__second__line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__second__left__item {
  max-width: 1000px;
  width: 100%;
  border-right: 1px solid #3B4C64;

  @media screen and (max-width: 1300px) {
    max-width: 860px;
  }
  @media screen and (max-width: 1146px) {
    max-width: 840px;
  }
  @media screen and (max-width: 1126px) {
    border-right: none;
  }
}

.footer__catalog__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 38px !important;
  margin-bottom: 29px !important;
  width: 100%;

  li + li {
    margin-left: 33px;
  }


  a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    &:hover:after {
      content: '';
      border-bottom: 2px solid $firm;
      width: 100%;
      position: absolute;
      bottom: 0;
    }

    &:hover {
      color: $firm;
    }

    &:active {
      opacity: 0.5;
    }
  }

  img {
    display: inline-block;
    margin-right: 8px;
  }
}

.footer_link {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 277px;
  }

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #9EA5AF;
    text-decoration: none;
    display: block;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.footer__second__right__item {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 32px;

  @media screen and (max-width: 1126px) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
  }

  li {
    font-weight: 400;
    font-size: 24px;
    width: 216px;
    padding-bottom: 24px;
  }

  a {
    text-decoration: none;
    color: #FFFFFF;

    &:last-child {
      font-size: 16px;
      margin-top: -5px !important;
      display: block;
    }
  }
}

.footer__contact__item__1{

  li{
    @media screen and (max-width: 1126px) {
      width: 277px;
    }
  }

  @media screen and (max-width: 1126px) {
    display: flex;
  }
}


.footer__wrap__address {
  display: flex;
  flex-direction: row;
  margin-top: 73px;
  margin-bottom: 32px;

  @media screen and (max-width: 1126px) {
    margin-top: 0;
    width: 277px;
  }

  span {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    margin-left: 14px;
  }
}
