@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
.wrap__1 {
  background-color: #0C1D37;
  mix-blend-mode: multiply; }

.content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  @media screen and (max-width: 1300px) {
    .content-wrapper {
      padding: 0 15px; } }

.wrap__point {
  position: relative;
  max-width: 1280px;
  display: flex;
  flex-shrink: 1; }
  .wrap__point .orange__point {
    display: flex;
    flex-shrink: 1;
    position: absolute;
    width: 50%;
    height: 820px;
    right: 0;
    top: -350px;
    z-index: -9999;
    /* Фирменный */
    background: #FF7A00;
    filter: blur(500px); }

.wrap__2 {
  background-color: #0c1d37; }

.wrap__3 {
  background: #182841; }

.contact__info {
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row; }
  .contact__info .contact__item {
    display: flex;
    flex-direction: row; }
    .contact__info .contact__item li {
      margin-right: 20px;
      color: #7A8396;
      font-weight: 400;
      font-size: 14px; }
    .contact__info .contact__item a {
      text-decoration: none;
      color: #7A8396; }
  .contact__info .contact__item__1 {
    display: flex;
    flex-direction: row;
    margin-left: auto; }
    .contact__info .contact__item__1 li {
      font-weight: 400;
      font-size: 14px; }
    .contact__info .contact__item__1 li + li {
      margin-left: 32px; }
    .contact__info .contact__item__1 a {
      text-decoration: none;
      color: #FFFFFF; }
      .contact__info .contact__item__1 a:first-child {
        font-weight: 600; }
    .contact__info .contact__item__1 a + a {
      margin-left: 10px; }

.line {
  width: 100%;
  opacity: 0.15;
  /* Белый */
  border: 1px solid #ffffff; }

.header {
  height: 109px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header a {
    height: 80%;
    display: flex; }

.header__link {
  display: flex;
  flex-direction: row;
  height: 100%; }
  .header__link li {
    height: 100%; }
  .header__link li + li {
    margin-left: 36px; }
    @media screen and (max-width: 1126px) {
      .header__link li + li {
        margin-left: 20px; } }
  .header__link a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative; }
    .header__link a:hover:after {
      content: '';
      border-bottom: 5px solid #FF7A00;
      width: 100%;
      position: absolute;
      bottom: 0; }
    .header__link a:hover {
      color: #FF7A00; }
    .header__link a:active {
      opacity: 0.5; }
  .header__link img {
    display: inline-block;
    margin-right: 8px; }
  .header__link .search__line__wrap {
    position: relative; }
  .header__link .search__line {
    position: absolute;
    top: 59px;
    left: 12px; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.section__1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center; }

.section__1__content_1 {
  width: 524px;
  color: #ffffff; }
  @media screen and (max-width: 1300px) {
    .section__1__content_1 {
      width: 500px; } }
  @media screen and (max-width: 1280px) {
    .section__1__content_1 {
      width: 444px; } }
  @media screen and (max-width: 1159px) {
    .section__1__content_1 {
      width: 100%; } }
  .section__1__content_1 h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    padding-top: 40px;
    max-width: 450px; }
    @media screen and (max-width: 1159px) {
      .section__1__content_1 h2 {
        width: 100%; } }
  .section__1__content_1 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding-top: 16px; }
  .section__1__content_1 .section__1__buttons {
    padding-top: 40px;
    padding-bottom: 56px; }
    .section__1__content_1 .section__1__buttons button {
      height: 46px;
      outline: none;
      background-color: transparent;
      color: #FF7A00;
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      padding: 0 24px;
      border: 1.5px solid #FF7A00;
      border-radius: 2px;
      cursor: pointer; }
      .section__1__content_1 .section__1__buttons button:hover {
        background-color: #FF7A00;
        color: #ffffff; }
      .section__1__content_1 .section__1__buttons button:active {
        opacity: 0.8; }
      .section__1__content_1 .section__1__buttons button:first-child {
        margin-right: 16px; }

.section__1__content_2 {
  margin-left: 85px;
  margin-top: 49px; }
  @media screen and (max-width: 1224px) {
    .section__1__content_2 {
      margin-left: 45px; } }
  @media screen and (max-width: 1185px) {
    .section__1__content_2 {
      margin-left: 20px; } }

.section__2 {
  display: flex;
  flex-direction: column;
  padding-top: 112px; }
  .section__2 h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%; }
  .section__2 .section__2__catalog {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center; }
    .section__2 .section__2__catalog li {
      max-width: 320px;
      height: 426px;
      border: 1px solid #3B4C64;
      padding-top: 32px;
      padding-bottom: 28px;
      transition: 0.8s; }
      .section__2 .section__2__catalog li:hover {
        transition: 0.8s;
        background: #FF7A00; }
        .section__2 .section__2__catalog li:hover p {
          color: #ffffff; }
        .section__2 .section__2__catalog li:hover button {
          background: #F55800; }
      .section__2 .section__2__catalog li a {
        display: block;
        width: 256px;
        margin-left: 32px;
        text-decoration: none; }
        .section__2 .section__2__catalog li a img {
          margin-bottom: 24px; }
      .section__2 .section__2__catalog li span {
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: #FFFFFF;
        margin-top: 24px; }
      .section__2 .section__2__catalog li p {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #7A8396;
        margin-top: 8px; }
      .section__2 .section__2__catalog li .cost__price {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #FF7A00;
        margin-top: 16px; }
      .section__2 .section__2__catalog li button {
        color: #ffffff;
        height: 34px;
        background: #FF7A00;
        padding: 0 18px;
        border: none;
        margin-top: 24px;
        margin-left: 32px;
        cursor: pointer; }
        .section__2 .section__2__catalog li button:hover {
          opacity: 0.8; }
        .section__2 .section__2__catalog li button:active {
          opacity: 0.6; }

.section__2__btn__catalog {
  margin-top: 32px; }
  .section__2__btn__catalog button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    background: #FF7A00;
    border-radius: 2px;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    border: none; }
    .section__2__btn__catalog button:hover {
      opacity: 0.8; }
    .section__2__btn__catalog button:active {
      opacity: 0.6; }
    .section__2__btn__catalog button img {
      margin-right: 14px; }

.section__3 {
  padding-top: 120px;
  display: flex;
  flex-direction: column; }
  .section__3 h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 40px; }

.section__3__wrap__bg {
  display: flex;
  max-width: 1280px;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-shrink: 1; }
  .section__3__wrap__bg .bg_s3 {
    position: absolute;
    width: 90%;
    height: 80%;
    left: 5%;
    top: 10%;
    background: #FFFFFF;
    mix-blend-mode: overlay;
    filter: blur(600px); }

.wrap__description__goods {
  display: flex;
  flex-direction: column;
  width: 100%; }

.line__description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .line__description p {
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%; }
  .line__description div {
    width: 50%;
    padding: 48px;
    border: 1px solid rgba(255, 255, 255, 0.1); }
    .line__description div:first-child {
      background: #0C1D37; }

.link__product__s3 a {
  position: relative;
  display: block; }
.link__product__s3 button {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
  padding: 0 18px;
  color: #ffffff;
  background: #FF7A00;
  border: none; }
  .link__product__s3 button:hover {
    opacity: 0.8; }
  .link__product__s3 button:active {
    opacity: 0.6; }

.line__description__1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .line__description__1 p {
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%; }
  .line__description__1 div {
    width: 516px;
    padding: 48px;
    border: 1px solid rgba(255, 255, 255, 0.1); }
    @media screen and (max-width: 1300px) {
      .line__description__1 div {
        width: 501px; } }
    @media screen and (max-width: 1280px) {
      .line__description__1 div {
        width: 50%; } }
    .line__description__1 div:last-child {
      background: #0C1D37; }

.link__product__s31 {
  width: 764px !important; }
  @media screen and (max-width: 1300px) {
    .link__product__s31 {
      width: 749px !important; } }
  @media screen and (max-width: 1280px) {
    .link__product__s31 {
      width: 50% !important; } }
  .link__product__s31 a {
    position: relative;
    display: block; }
  .link__product__s31 button {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    padding: 0 18px;
    color: #ffffff;
    background: #FF7A00;
    border: none; }
    .link__product__s31 button:hover {
      opacity: 0.8; }
    .link__product__s31 button:active {
      opacity: 0.6; }

.section__4 {
  padding-top: 120px;
  display: flex;
  flex-direction: column; }
  .section__4 h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 40px; }

.link__info__s4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 426px);
  justify-content: center; }
  .link__info__s4 li {
    width: 426px;
    height: 454px;
    border: 1px solid #3B4C64;
    padding-top: 40px;
    transition: 0.8s;
    cursor: pointer; }
    .link__info__s4 li:hover {
      background: #FF7A00;
      transition: 0.8s; }
      .link__info__s4 li:hover p {
        color: #ffffff; }
      .link__info__s4 li:hover .img__s4__1 {
        background: center/contain url("../img/missile.svg") no-repeat;
        transition: 0.8s; }
      .link__info__s4 li:hover .img__s4__2 {
        background: center/contain url("../img/ok_w.svg") no-repeat;
        transition: 0.8s; }
      .link__info__s4 li:hover .img__s4__3 {
        background: center/contain url("../img/file_w.svg") no-repeat;
        transition: 0.8s; }
      .link__info__s4 li:hover .img__s4__4 {
        background: center/contain url("../img/certificate_w.svg") no-repeat;
        transition: 0.8s; }
      .link__info__s4 li:hover .img__s4__5 {
        background: center/contain url("../img/settings_w.svg") no-repeat;
        transition: 0.8s; }
    .link__info__s4 li a {
      display: block;
      text-decoration: none; }
      .link__info__s4 li a .img__s4__1 {
        background: center/contain url("../img/missile_o.svg") no-repeat;
        transition: 0.8s; }
      .link__info__s4 li a .img__s4__2 {
        background: center/contain url("../img/ok.svg") no-repeat;
        transition: 0.8s; }
      .link__info__s4 li a .img__s4__3 {
        background: center/contain url("../img/file.svg") no-repeat;
        transition: 0.8s; }
      .link__info__s4 li a .img__s4__4 {
        background: center/contain url("../img/certificate.svg") no-repeat;
        transition: 0.8s; }
      .link__info__s4 li a .img__s4__5 {
        background: center/contain url("../img/settings.svg") no-repeat;
        transition: 0.8s; }
      .link__info__s4 li a div {
        margin-left: 40px;
        margin-bottom: 57px;
        width: 83px;
        height: 82px; }
      .link__info__s4 li a h4 {
        color: #ffffff;
        font-weight: 500;
        font-size: 22px;
        line-height: 120%;
        margin-left: 40px;
        margin-bottom: 16px; }
      .link__info__s4 li a p {
        color: #9EA5AF;
        font-weight: 400;
        font-size: 14px;
        line-height: 170%;
        margin-left: 40px;
        max-width: 342px; }

.section__5 {
  padding-top: 120px;
  display: flex;
  flex-direction: column; }
  .section__5 h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 40px; }

.section__5__news {
  padding-bottom: 32px !important;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: center; }
  .section__5__news li {
    max-width: 320px;
    height: 450px;
    border: 1px solid #3B4C64;
    padding-top: 32px;
    padding-bottom: 28px;
    transition: 0.8s; }
  .section__5__news a {
    display: block;
    text-decoration: none;
    margin-left: 32px;
    height: 338px; }
  .section__5__news h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: white;
    max-width: 254px;
    margin-top: 24px; }
  .section__5__news p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7A8396;
    margin-top: 4px; }
  .section__5__news button {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    background: #FF7A00;
    padding: 0 18px;
    height: 33px;
    border: none;
    margin-left: 32px;
    margin-top: 24px;
    cursor: pointer; }
    .section__5__news button:hover {
      opacity: 0.8; }
    .section__5__news button:active {
      opacity: 0.6; }

.section__5__btn__news button {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FF7A00;
  outline: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  margin-bottom: 120px; }
  .section__5__btn__news button:hover {
    opacity: 0.8; }
  .section__5__btn__news button:active {
    opacity: 0.6; }
  .section__5__btn__news button img {
    margin-right: 12px; }

.section__6 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 48px; }
  .section__6 h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
    padding-bottom: 33px; }

.section__6__wrap__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 848px;
  margin-bottom: 48px; }
  .section__6__wrap__form button {
    padding: 0 24px;
    height: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    background: #FF7A00;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 54px;
    float: left;
    cursor: pointer; }
    .section__6__wrap__form button img {
      margin-right: 12px; }

.s6__input__decor {
  width: 416px;
  height: 62px;
  background: rgba(157, 164, 175, 0.1);
  backdrop-filter: blur(40px);
  border-radius: 2px;
  padding: 19px 24px;
  margin-bottom: 24px;
  border: none;
  color: #9EA5AF; }
  .s6__input__decor::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 126%;
    color: #9EA5AF; }

#s6__input__email {
  margin-left: 12px; }

#s6__input__textArea {
  width: 848px;
  max-width: 848px;
  height: 124px;
  padding: 19px 24px;
  resize: none;
  background: rgba(157, 164, 175, 0.1);
  backdrop-filter: blur(40px);
  border-radius: 2px;
  margin-bottom: 24px;
  border: none;
  color: #9EA5AF; }
  #s6__input__textArea::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 126%;
    color: #9EA5AF; }

.wrap__checkbox__s6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px; }
  .wrap__checkbox__s6 p {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #9EA5AF;
    margin-left: 12px; }
    .wrap__checkbox__s6 p span {
      color: #FF7A00; }

#s6__input__checkbox {
  display: none; }
  #s6__input__checkbox:checked + label {
    background: rgba(157, 164, 175, 0.1) center/70% url("../img/Checkmark.svg") no-repeat; }

.s6__input__checkbox__decor {
  width: 20px;
  height: 20px;
  background: rgba(157, 164, 175, 0.1);
  border-radius: 1.42857px;
  display: block; }

.wrap__4 {
  background: #051126; }

.footer__first__line {
  padding: 28px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .footer__first__line a {
    display: inline-block; }
  .footer__first__line button {
    background: center no-repeat url(../img/Circle.svg), no-repeat 16px 16px url(../img/Line.svg);
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 12px;
    left: 375px;
    border: none;
    cursor: pointer; }
    .footer__first__line button:hover {
      opacity: 0.8; }
    .footer__first__line button:active {
      opacity: 0.7; }

.wrap__form__6 {
  position: relative; }

#search__footer {
  width: 416px;
  height: 49px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding-left: 20px;
  padding-right: 40px; }

.footer__second__line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.footer__second__left__item {
  max-width: 1000px;
  width: 100%;
  border-right: 1px solid #3B4C64; }
  @media screen and (max-width: 1300px) {
    .footer__second__left__item {
      max-width: 860px; } }
  @media screen and (max-width: 1146px) {
    .footer__second__left__item {
      max-width: 840px; } }
  @media screen and (max-width: 1126px) {
    .footer__second__left__item {
      border-right: none; } }

.footer__catalog__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 38px !important;
  margin-bottom: 29px !important;
  width: 100%; }
  .footer__catalog__link li + li {
    margin-left: 33px; }
  .footer__catalog__link a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative; }
    .footer__catalog__link a:hover:after {
      content: '';
      border-bottom: 2px solid #FF7A00;
      width: 100%;
      position: absolute;
      bottom: 0; }
    .footer__catalog__link a:hover {
      color: #FF7A00; }
    .footer__catalog__link a:active {
      opacity: 0.5; }
  .footer__catalog__link img {
    display: inline-block;
    margin-right: 8px; }

.footer_link {
  display: flex;
  flex-wrap: wrap; }
  .footer_link li {
    width: 277px; }
  .footer_link a {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #9EA5AF;
    text-decoration: none;
    display: block; }
    .footer_link a:hover {
      opacity: 0.9; }
    .footer_link a:active {
      opacity: 0.7; }

.footer__second__right__item {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 32px; }
  @media screen and (max-width: 1126px) {
    .footer__second__right__item {
      flex-direction: row;
      margin-left: 0; } }
  .footer__second__right__item li {
    font-weight: 400;
    font-size: 24px;
    width: 216px;
    padding-bottom: 24px; }
  .footer__second__right__item a {
    text-decoration: none;
    color: #FFFFFF; }
    .footer__second__right__item a:last-child {
      font-size: 16px;
      margin-top: -5px !important;
      display: block; }

@media screen and (max-width: 1126px) {
  .footer__contact__item__1 li {
    width: 277px; } }
@media screen and (max-width: 1126px) {
  .footer__contact__item__1 {
    display: flex; } }

.footer__wrap__address {
  display: flex;
  flex-direction: row;
  margin-top: 73px;
  margin-bottom: 32px; }
  @media screen and (max-width: 1126px) {
    .footer__wrap__address {
      margin-top: 0;
      width: 277px; } }
  .footer__wrap__address span {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    margin-left: 14px; }

/*# sourceMappingURL=style.css.map */
